<div class="main_header">
  <h2>Müşteri Düzenle</h2>
  <div class="table_menu">
    <%= link_to 'Görüntüle', @customer, :class => 'show' %>
    <%= link_to 'Sil', @customer, method: :delete, :class => 'delete', data: { confirm: 'Emin misiniz?' } %>
  </div>
</div>
<div class="main_form">
    <%= render 'form' %>
    <%= button_to 'İptal', customers_path, :method => :get, :class => 'cancel_button' %>
</div>