<div class="main_header">
  <h2>Yeni Müşteri</h2>
  <div class="page_menu">
    <%= link_to 'Geri', customers_path, :class => 'btn-default' %>
  </div>
</div>
<div class="main_form">
    <%= render 'form' %>
    <%= button_to 'İptal', customers_path, :method => :get, :class => 'cancel_button' %>
</div>