<div class="main_header">
  <h2>Fatura Şablonu</h2>
  <div class="page_menu">
    <%= link_to 'Geri', invoice_styles_path, :class => 'btn-default' %>
    <%= link_to 'Sil', @invoice_style, method: :delete, :class => 'btn-danger', data: { confirm: 'Emin misiniz?' } %>
  </div>
</div>
<div class="main_form">
    <%= render 'form' %>
    <%= button_to 'İptal', invoice_styles_path, :method => :get, :class => 'cancel_button' %>
</div>