/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$header_height: 48px;
$border: 1px solid #B4B4B4;

body {
  background: #E4E4E4;
  font-family: "DejaVu Sans", sans-serif;
  font-size: 14px;
}

#wrapper {
  width: 1000px;
  margin: auto;
  background: white;
  border: $border;
}

#header {
  padding: 16px;
  height: $header_height;
  border-bottom: $border;
  background-color: #f4f4f4;
}

#logo {
  line-height: $header_height;
  float: left;
  color: #2b2ba7;
  font-size: 30px;
}

#menu {
  float: right;
  a {
    line-height: $header_height;
    padding: 10px;
    margin-left: 4px;
    text-decoration: none;
    background: #505050;
    color: white;
    border-radius: 5px;
  }

  .dropdown-content {
    position: absolute;
    margin-left: 148px;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    a {
      all: initial;
      font-family: "DejaVu Sans", sans-serif;
      font-size: 13px;
      display: block;
      padding: 0px 0px 0px 4px;
      line-height: 30px;
    }

    a:hover {background-color: #e8e8e8}
  }
}

#main {
  padding: 18px 16px 18px 16px;
}

#footer {
  font-size: 10px;
  text-align: center;
  padding: 4px;
  background: #525252;
  color: white;
}

$main_header_height: 26px;
.main_header {
  height: $main_header_height;
  margin-bottom: 18px;

  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    float: left;
    line-height: $main_header_height;
    color: #444444;
  }

  .table_menu {
    float: right;
    a {
      line-height: $main_header_height;
      text-decoration: none;
      padding: 4px;
      font-size: 12px;
      color: white;
      &.new {
        background: lightgreen;
        border: 1px solid mediumseagreen;
      }
      &.show {
        background: cornflowerblue;
        border: 1px solid royalblue;
      }
      &.edit {
        background: orange;
        border: 1px solid darkorange;
      }
      &.delete {
        background: indianred;
        border: 1px solid darkred;
      }
    }
  }
}

.main_form {
  width: 640px;
  margin: 0px auto 4px auto;
  overflow: auto;
}

table.data {
  width: 100%;
  border-collapse: collapse;
  th {
    background: #cdcde1;
    color: #404040;
    border: 1px solid #B4B4B4;
    padding: 6px 4px 6px 4px;
    text-align: left;
    font-weight: normal;
  }

  tr {
    height: 30px;
  }

  tr.odd_row {
    background: #f0f0f0;
  }

  tr.even_row {
    background: white;
  }

  td {
    padding: 4px;
    border: 1px solid #B4B4B4;
    font-size: 12px;
    &.actions {
      width: 120px;
      text-align: center;
    }
  }

  a {
    color: #444444;
    padding: 1px;
  }
}

form {
  .row {
    margin-bottom: 20px;
    label {
      width: 270px;
      display: inline-block;
    }
    input[type="text"], textarea {
      width: 350px;
      border: 1px solid #E4E4E4;
    }
    textarea {
      vertical-align: middle;
    }
    .field_with_errors {
      display: inline;
      input[type="text"], textarea {
        background: #ffdbdb;
        border: 1px solid #ffa1a1;
      }
    }
  }
  .line_items {
    margin-top: 3px;
    float: left;
    button {
      margin: 6px 6px 0 0;
    }
  }
  .actions {
    input[type="submit"] {
      float: right;
    }
  }
}

.cancel_button {
  float: right;
  margin-right: 10px;
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 2px solid #c00;
  padding: 7px 7px 0 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h4 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table#line_item_form {
  margin-left: 270px;
  margin-bottom: 20px;
  th {
    font-weight: normal;
    text-decoration: underline;
    text-align: left;
  }
  input[type="number"] {
    width: 40px;
    border: 1px solid #E4E4E4;
  }
  .field_with_errors {
    input[type="number"] {
      background: #ffdbdb;
      border: 1px solid #ffa1a1;
    }
  }
}

table.line_items {
  width: 100%;
  border-collapse: collapse;
  th {
    background: darkslategray;
    color: #f0f0f0;
    border: 1px solid #B4B4B4;
    padding: 4px;
    text-align: left;
    font-weight: normal;
  }

  tr.odd_row {
    background: #f0f0f0;
  }

  tr.even_row {
    background: white;
  }

  td {
    padding: 4px;
    border: 1px solid #B4B4B4;
    font-size: 12px;
    &.actions {
      width: 120px;
      text-align: center;
    }
  }

  a {
    color: #444444;
    padding: 1px;
  }
}
